@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2-variations'),
       url('../assets/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2'),
       url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2-variations'),
       url('../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.woff2') format('woff2'),
       url('../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

@theme {
  --font-sans: 'Roboto', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-sans);
}
